In [112]:
import pandas as pd
url = 'https://github.com/edjunior2000/ltfcl/raw/main/ltfcl_data/ltfcl_data.csv'
dados = pd.read_csv(url)
testea= dados.head(1000)
testeb=dados.loc[1001:2000]
dados

,concurso,dia,mês,ano,dez1,dez2,dez3,dez4,dez5,dez6,dez7,dez8,dez9,dez10,dez11,dez12,dez13,dez14,dez15
0,1,29,9,2003,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25
1,2,6,10,2003,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24
2,3,13,10,2003,1,4,6,7,8,9,10,11,12,14,16,17,20,23,24
3,4,20,10,2003,1,2,4,5,8,10,12,13,16,17,18,19,23,24,25
4,5,27,10,2003,1,2,4,8,9,11,12,13,15,16,19,20,23,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2234,2235,20,5,2021,2,4,6,7,8,10,11,12,16,17,19,21,22,23,25
2235,2236,21,5,2021,2,3,4,5,8,9,10,11,12,17,18,19,21,22,24
2236,2237,22,5,2021,3,5,6,9,12,13,14,15,17,19,20,21,22,23,25
2237,2238,24,5,2021,1,3,4,5,6,7,10,11,14,15,16,18,19,20,25
2238,2239,25,5,2021,1,2,5,6,7,10,13,14,15,16,17,20,22,23,24

In [138]:
maiox = dados.loc[dados["mês"]== 5]
maioy = [maiox.loc[maiox["dia"] == 26]]

In [157]:

dez123 = dados.loc[:,["dez1","dez2","dez3"]].value_counts(normalize=True)*100
dez234 = dados.loc[:,["dez2","dez3","dez4"]].value_counts(normalize=True)*100
dez345 = dados.loc[:,["dez3","dez4","dez5"]].value_counts(normalize=True)*100
dez456 = dados.loc[:,["dez4","dez5","dez6"]].value_counts(normalize=True)*100
dez567 = dados.loc[:,["dez5","dez6","dez7"]].value_counts(normalize=True)*100
dez789 = dados.loc[:,["dez7","dez8","dez9"]].value_counts(normalize=True)*100
dez101112 = dados.loc[:,["dez10","dez11","dez12"]].value_counts(normalize=True)*100
dez131415 = dados.loc[:,["dez13","dez14","dez15"]].value_counts(normalize=True)*100

In [159]:
dez456

dez4  dez5  dez6
7     8     9       6.431443
6     7     8       6.074140
8     9     10      6.029477
5     6     7       5.850826
6     7     9       4.019652
                      ...
            14      0.044663
            13      0.044663
4     8     12      0.044663
      9     10      0.044663
13    14    16      0.044663
Length: 125, dtype: float64

In [155]:
dezenas = dados.loc[:,["dez1","dez2","dez3","dez4","dez5","dez6","dez7","dez8","dez9","dez10","dez11","dez12","dez13","dez14","dez15"]]

dezenas[dezenas.duplicated(keep=False)]

Empty DataFrame
Columns: [dez1, dez2, dez3, dez4, dez5, dez6, dez7, dez8, dez9, dez10, dez11, dez12, dez13, dez14, dez15]
Index: []

In [195]:
deze1 = dezenas["dez1"].value_counts()
deze2 = dezenas["dez2"].value_counts()
deze3 = dezenas["dez3"].value_counts()


deze = deze2 + deze1
deze

1       NaN
2    1343.0
3     906.0
4     496.0
5     230.0
6      98.0
7       NaN
8       NaN
9       NaN
dtype: float64