In [19]:
import pandas as pd
url = 'https://github.com/edjunior2000/ltfcl/raw/main/ltfcl_data/ltfcl_data.csv'
dados = pd.read_csv(url)
testea= dados.head(1000)
testeb=dados.loc[1001:2000]
dados

,concurso,dia,mês,ano,dez1,dez2,dez3,dez4,dez5,dez6,dez7,dez8,dez9,dez10,dez11,dez12,dez13,dez14,dez15
0,1,29,9,2003,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25
1,2,6,10,2003,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24
2,3,13,10,2003,1,4,6,7,8,9,10,11,12,14,16,17,20,23,24
3,4,20,10,2003,1,2,4,5,8,10,12,13,16,17,18,19,23,24,25
4,5,27,10,2003,1,2,4,8,9,11,12,13,15,16,19,20,23,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2221,2221,4,5,2021,1,2,3,4,5,8,9,10,12,13,16,18,20,22,23
2222,2222,5,5,2021,2,4,5,6,7,8,9,10,12,13,14,19,22,23,24
2223,2223,6,5,2021,1,4,5,7,8,9,11,12,14,18,20,21,22,24,25
2224,2224,7,5,2021,3,5,6,7,9,10,12,13,14,15,18,19,20,23,24
2225,2225,8,5,2021,2,3,4,7,8,9,10,11,13,17,19,21,22,23,25

In [37]:
maiox = dados.loc[dados["mês"]== 6]
maioy = [maiox.loc[maiox["dia"] == 26]]
maioy

[      concurso  dia  mês   ano  dez1  dez2  dez3  dez4  dez5  dez6  dez7  \
 143        144   26    6  2006     1     2     4     7     9    11    12
 334        335   26    6  2008     1     3     4     6     7     8     9
 922        923   26    6  2013     1     3     4     5     6     7    10
 1226      1227   26    6  2015     1     2     7     8     9    10    11
 1528      1529   26    6  2017     2     3     4     5     8    11    13
 1831      1832   26    6  2019     2     7     8     9    10    11    16
 1984      1985   26    6  2020     1     2     3     6     7     9    11

       dez8  dez9  dez10  dez11  dez12  dez13  dez14  dez15
 143     14    17     19     20     21     22     24     25
 334     11    12     14     16     17     19     20     21
 922     12    14     15     19     20     22     24     25
 1226    12    13     14     17     19     21     22     25
 1528    14    16     17     18     19     20     21     24
 1831    18    19     20     21     22     23     24     25
 1984    12    14     15     17     21     22     23     24  ]

In [83]:
dezenas = dados.loc[:,["dez1","dez2","dez3","dez4","dez5","dez6","dez7","dez8","dez9","dez10","dez11","dez12","dez13","dez14","dez15"]]

dezenas[dezenas.duplicated(keep=False)]

,dez1,dez2,dez3,dez4,dez5,dez6,dez7,dez8,dez9,dez10,dez11,dez12,dez13,dez14,dez15
2204,1,2,5,6,7,9,10,12,14,17,18,19,22,24,25
2205,1,2,5,6,7,9,10,12,14,17,18,19,22,24,25

In [111]:
dados[dados.isin([2,3])].tail(10)
#dados.tail(10)

,concurso,dia,mês,ano,dez1,dez2,dez3,dez4,dez5,dez6,dez7,dez8,dez9,dez10,dez11,dez12,dez13,dez14,dez15
2216,NaN,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2218,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2219,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2220,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2221,NaN,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2222,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2224,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2225,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN